In [1]:
xcod = '000001' 
rss = 'zwDat/cn/xday/'
monStr = '02'

In [2]:
fss = rss + xcod + ".csv"
fss

'zwDat/cn/xday/000001.csv'

In [3]:
nSum, nAdd, nDec = 0, 0, 0  # 输入的月份数，其中上升的月份，其中下跌的月份
kmon = int(monStr)  # 当前月份
kmon

2

In [4]:
import pandas as pd
df = pd.read_csv(fss, index_col=0, parse_dates=[0], encoding='utf-8')
df.head()

                open      high     close       low       volume        amount
date
2017-05-03  3138.307  3148.286  3135.346  3123.751  16376392400  190236600690
2017-05-02  3147.228  3154.781  3143.712  3136.539  15422296200  176389916688
2017-04-28  3144.022  3154.727  3154.658  3136.578  16288989900  183195769806
2017-04-27  3131.350  3155.003  3152.187  3097.333  21179307300  235748319355
2017-04-26  3132.918  3152.953  3140.847  3131.418  16987810700  197112873017

In [5]:
df = df.rename(columns={'Close': 'close'})  # 如果列名是Close，则改名，收盘价
df.head()

                open      high     close       low       volume        amount
date
2017-05-03  3138.307  3148.286  3135.346  3123.751  16376392400  190236600690
2017-05-02  3147.228  3154.781  3143.712  3136.539  15422296200  176389916688
2017-04-28  3144.022  3154.727  3154.658  3136.578  16288989900  183195769806
2017-04-27  3131.350  3155.003  3152.187  3097.333  21179307300  235748319355
2017-04-26  3132.918  3152.953  3140.847  3131.418  16987810700  197112873017

In [6]:
df = df.sort_index()  # 按日期排序
df.head()

              open    high   close     low     volume      amount
date
1994-01-03  837.70  840.65  833.90  831.66  101005600  1048326000
1994-01-04  835.97  836.97  832.69  829.89   65274300   692748000
1994-01-05  829.30  847.05  846.98  823.10   89412100   975053000
1994-01-06  850.78  869.33  869.33  850.78  184511700  1970032000
1994-01-07  875.18  883.99  879.64  873.01  168688400  1752262000

In [7]:
_tim0 = df.index[0]  # 取得时间列的第一行
_ynum0 = _tim0.year  # 截取第一行的年份
_tim9 = df.index[-1]  # 取得时间列的最后一行
_ynum9 = _tim9.year + 1  # 最后一年+1
print(_tim0)
print(_ynum0)
print(_tim9)
print(_ynum9)

1994-01-03 00:00:00
1994
2017-05-03 00:00:00
2018

In [8]:
import zwQuant.source.zwTools as zwt

In [9]:
for ynum in range(_ynum0, _ynum9):  # 遍历所有年份
    ystr = str(ynum)  # 年份
    last_day = zwt.lastDay(ynum, kmon)  # 年份，每月的最后一天的日期
    dayStr = '%02d' % last_day
    monStr1 = ''.join([ystr, '-', monStr, '-01'])  # 当前月的第一天
    monStr9 = ''.join([ystr, '-', monStr, '-', dayStr])  # 当前月的最后一天
    df2 = df[(df.index >= monStr1) & (df.index <= monStr9)]
#     print(df2.head())
    
    if len(df2) > 0:  # 若存在交易日（处理月份用）
        _kmon5 = '%02d' % df2.index[0].month  # 选取交易日期中的月份，并转为string
#         print(_kmon5)
        if _kmon5 == monStr:  # 若上述月份为函数输入的变量
            xd1a = df2.ix[0]
#             print(xd1a)
            xd1z = df2.iloc[-1]
#             print(xd1z)
            nSum += 1  # 交易月份+1
#             print(nSum)
            vd1a = xd1a['close']
            vd1z = xd1z['close']  # 选取收盘价位
            if vd1z > vd1a:
                nAdd += 1  # 比较收盘价位，判定升跌
            else:
                nDec += 1
#     break

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [10]:
print('nSum,nAdd,nDec,', nSum, nAdd, nDec)

nSum,nAdd,nDec, 24 19 5