In [4]:
xcod = '000001' 
rss = 'zwDat/cn/xday/'
monStr = '01'

In [5]:
fss = rss + xcod + ".csv"
fss

'zwDat/cn/xday/000001.csv'

In [6]:
nSum, nAdd, nDec = 0, 0, 0  # 输入的月份数，其中上升的月份，其中下跌的月份
kmon = int(monStr)  # 当前月份
kmon

1

In [12]:
import pandas as pd
df = pd.read_csv(fss, index_col=0, parse_dates=[0], encoding='utf-8')
df.head()

                open      high     close       low       volume        amount
date
2017-05-03  3138.307  3148.286  3135.346  3123.751  16376392400  190236600690
2017-05-02  3147.228  3154.781  3143.712  3136.539  15422296200  176389916688
2017-04-28  3144.022  3154.727  3154.658  3136.578  16288989900  183195769806
2017-04-27  3131.350  3155.003  3152.187  3097.333  21179307300  235748319355
2017-04-26  3132.918  3152.953  3140.847  3131.418  16987810700  197112873017

In [16]:
df = df.rename(columns={'Close': 'close000'})  # 重命名close列，收盘价  不懂？？？
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

                open      high     close       low       volume        amount
date
2017-05-03  3138.307  3148.286  3135.346  3123.751  16376392400  190236600690
2017-05-02  3147.228  3154.781  3143.712  3136.539  15422296200  176389916688
2017-04-28  3144.022  3154.727  3154.658  3136.578  16288989900  183195769806
2017-04-27  3131.350  3155.003  3152.187  3097.333  21179307300  235748319355
2017-04-26  3132.918  3152.953  3140.847  3131.418  16987810700  197112873017